[submodule "vjepa2"]
	path = vjepa2
	url = https://github.com/facebookresearch/vjepa2.git
[submodule "pouring/SimLiquid"]
	path = pouring/SimLiquid
	url = https://github.com/Jiaviz/SimLiquid
[submodule "OCR_Scale_REader"]
	path = OCR_Scale_REader
	url = git@github.com:Paetriq/OCR_Scale_REader.git
